<div class="outer-container">
  <div class="sidebar">
    <div class="container-fluid">
      <h3 class="mt-5">Sidebar
        <a class="menu-opener pull-right" href="#"><i class="fa fa-close"></i></a>
      </h3>
      <ul class="list-group">
        <li class="list-group-item justify-content-between">
          Cras justo odio
          <span class="badge badge-default badge-pill">14</span>
        </li>
        <li class="list-group-item justify-content-between">
          Dapibus ac facilisis in
          <span class="badge badge-default badge-pill">2</span>
        </li>
        <li class="list-group-item justify-content-between">
          Morbi leo risus
          <span class="badge badge-default badge-pill">1</span>
        </li>
      </ul>
    </div>
  </div>
  <div class="dashboard">
    <div class="overlay"></div>
    <div class="message-container">
      <div>
        <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
          <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand menu-opener" href="#"><i class="fa fa-bars"></i></a>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" href="#">Disabled</a>
              </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
              <input class="form-control mr-sm-2" type="text" placeholder="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </div>
        </nav>
      </div>
      <div class="messages-box">
        <div class="message-list">
          <!--<div class="media message">-->
            <!--<img class="d-flex align-self-start mr-3" src="http://placehold.it/50x50" alt="Generic placeholder image">-->
            <!--<div class="media-body">-->
              <!--<h5 class="mt-0 message-author">John Smith <span class="text-muted">12:04pm</span></h5>-->
              <!--<div class="message-body">-->
                <!--Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus. latest.-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
      </div>
      <div class="chat-container">
        <div class="chat-box">
          <form id="chat-message">
            <div class="input-group">
              <input type="text" class="form-control">
              <span class="input-group-btn">
							        <button class="btn btn-secondary" type="submit">Send <i class="fa fa-send"></i></button>
							      </span>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>